{% extends 'main/layout.html' %}

{% block tittle %}{{ article.title }}{%endblock%}

{% block content %}
    <div class="detailtext">
        <h1>{{ article.title }}</h1>
        <p>{{ article.full_text|linebreaks }}</p>
        <div class="btnRed"> <h4>{{ article.date }}</h4>
        <a href="{%  url 'news_delete' article.slug  %} " class="btn btn-danger" style="width:200px">Удалить</a>
        <a href="{%  url 'news_update' article.slug  %}" class="btn btn-info"style="width:200px">Редактировать</a>
        </div>
    </div>
    <div class="comments">
        <h3>Комментарии ({{ article.comments_articles.all.count }})</h3>
        <hr color="white">
        <h3>Добавить комментарий</h3>
        <form action="" id ="add_form" method="post">
            {% csrf_token %}
            {{ form }}
            <button form="add_form" type="submit" class="btn btn-info " style="width: 100px">Добавить
            </button>
        </form>
        <ul>
        {% for item in article.comments_articles.all %}
        <li>
        <div class="alert alert-primary comment-card">
        {{ item.create_date }}<br>
        {{ item.author }}<br>
        {{ item.text }}
        </div>
        </li>
        {% endfor %}
        </ul>
    </div>
{%endblock%}

