{% extends 'main/layout.html' %}

{% block content %}
    <div class="content">

        <h1 class="content mt-5">Новости на сайте</h1>
         <form class="search" action="{% url 'search' %}" method="get">
<div class="search">
<div class="input-group">
<div class="form-outline">
<input type="search" id="form1" name="search" class="form-control search" />
</div>
<button type="submit" class="btn btn-info">
<i class="fas fa-search"></i>
</button>
</div>
</div>
</form>

<div class="sort">
    <form action="{% url 'filter' %}" method="get">
        <select class="select_send_ajax sort-select" name="sort" style="width:200px">
<option value="title">По названию</option>
<option value="date">По дате создания</option>
</select>
<button type="submit" class="btn btn-info sort-btn"  id="btn-filter" style="width:200px">Показать</button>
  </form>
</div>

        {% for el in news %}
            <div class="alert alert-warning news">
                <h3 class="text-left">{{ el.title }}</h3>
                <p>{{ el.anons }}</p>
                <div class="read_date">
                <a href="{% url 'news_detail' el.slug %}" class="btn btn-warning text-center">Читать детальнее</a> <p>{{ el.date }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{%endblock%}

{% block tittle %}Новости{%endblock%}