{% extends 'main/layout.html' %}

{% block content %}
    <div class="content">
        <h1>Вы уверены, что хотите удалить статью?</h1>
        <form method="post">
            {% csrf_token %}
            <span>{{ error }}</span> <br> <br>
            <button class="btn btn-danger" type="submit" style="color: white"> <span class="fas fa-minus-circle"></span> Удалить статью
              </button>
            <a href="{% url 'home' %}" class="btn btn-info" type="submit" style="color: white"> Отменить
              </a>

        </form>
    </div>

{%endblock%}

{% block tittle %}Удаление статьи{%endblock%}