{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <div class="features">
        <a href="{% url 'home' %}" className="btn btn-outline-primary btn-sm mb-2">На главную</a>

        <div className="card mb-4">
            <div className="card-body">
                <div className="row">
                    <div className="col-sm-3 text-center">
                        <img
                            src="{% static 'cabinet\img\user.png' %}"
                            style="width: 100px"
                        />
                        <h1>{{ page_user.email }}</h1>
                    </div>
                    <div>
                        <div className="badge badge-primary">Подписчики: {followers}</div>
                        <div className="badge badge-success">Подписан: {following}</div>
                        <div className="badge badge-info">Репозитории: {public_repos}</div>
                        <div className="badge badge-dark">Gists: {public_gists}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block tittle %}Профиль{%endblock%}

